@import url("/css/main.css");
@import url("/css/youtube_rewards.css");


.youtube .inner {
  height: 700px;
}
.youtube .floating1 {
  position: absolute;
  top: 50px;
  left: 0;
}
.youtube .floating2 {
  position: absolute;
  top: 350px;
  left: 150;
}
.youtube .floating3 {
  position: absolute;
  right: 0;
}